<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <title>My Dev Skills</title>
</head>
<body>
    <a href="/../">Home</a>
    <h1>Developer Skills </h1>
    <ul>
        <% skills.forEach(function(s,idx){ %>
            <li>
            <form action="/skills/<%=idx %>?_method=DELETE "
                class="delete-form" method="POSt"></form>
            <a href="/skills/<%=idx%>"><%= s.skill %></a>  
                -
                 <%= s.aquired ? 'Aquired':'Not aquired' %>  
            </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add Skills</a>
</body>
</html>