<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <title>Show</title>
</head>
<body>
    <a href="/../">Home</a> || <a href="/skills">Skills</a>
    <h1>Skill #<%= skillsNum %></h1>
    <h3><%= skills.skill %></h3>
    <h3>Aquired: <%= skills.aquired ? 'Yes' : 'No' %></h3>    
    <a href="/skills/<%= skillsNum -1 %>/edit">Edit Skills</a>
</body>
</html>